#poeapp-wrapper {

  webview {
    height: 100%;
    width: calc(100% - 300px);
    margin: 0px;
    padding:0px;
    resize: none;
    overflow: hidden;
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: -4px;
    margin-left: 300px;
    @media only screen and (max-width: 1300px){
      width: calc(100% - 80px);
      margin-left: 60px;
    }
  }

}
  .top-header {
    padding-left: 300px;
    height: 64px;
    background:#1f292e;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
  }

  .modal {
    top:20% !important;
    overflow: visible;
    width:1075px;
    .modal-header {
      margin-bottom: 20px;
    }
    .modal-footer {
      padding: 16px 24px;
      height: auto;
    }
  }
  
  app-character-preview, app-character-inventory {
    display: inline-block;
    margin-top: 10px;
  }

  app-character-inventory {
    margin-left: 40px;
    position: absolute;
  }

  .window-warning{
    height: 64px;
    margin: 0px;
    padding: 15px 0 0 15px;
  }

  .content-wrapper{
    padding-top: 64px;
  }

  .message-row{
    padding-left:0px;
  }

  .action-row{
    i{
      -webkit-app-region: no-drag;
       margin-top: 15px;
    }
    i:hover{
      background-color:rgba(76, 103, 114, 0.479);
    }
  }
  