<app-sidebar-nav></app-sidebar-nav>
<div style="-webkit-app-region: drag" class="top-header">
  <div class="row">
    <div class="col s10 message-row">
      <div *ngIf="!robotService.foundPathWindow" class="red window-warning">
        <h5>Cannot find Path of Exile window.</h5>
      </div>
    </div>
    <div class="col s2 action-row">
      <i (click)="closeWindow()" class="hoverable material-icons small right">close</i>
      <i (click)="minimizeWindow()" class="hoverable material-icons small right">remove</i>
    </div>
  </div>

</div>
<!-- <iframe [hidden]="!tradeService.browsing" src="https://www.poeapp.com"></iframe> -->
<div id="poeapp-wrapper">
  <webview id="webview" [hidden]="!tradeService.browsing" src="http:/poe.trade"></webview>
</div>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
<div id="playerModal" materialize="modal" #playerModal [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions"
  class="modal blue-grey darken-2">
  <div class="modal-content blue-grey darken-2 " *ngIf="playerService.openPlayer">
    <app-character-preview *ngIf="playerService.openPlayer.character" [character]="playerService.openPlayer.character"></app-character-preview>
    <app-character-inventory *ngIf="playerService.openPlayer.character" [character]="playerService.openPlayer.character"></app-character-inventory>
  </div>
  <div class="modal-footer blue-grey darken-3 white-text">
    <span class="character-info">
    </span>
    <a class="waves-effect waves-light btn" (click)="closeModal()">Close</a>
  </div>
</div>