<app-sidebar-nav></app-sidebar-nav>
<div class="top-header"></div>
<iframe [hidden]="!tradeService.browsing" src="https://www.poeapp.com"></iframe>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
<div id="playerModal" materialize="modal" #playerModal [materializeParams]="[{dismissible: true}]"
  [materializeActions]="modalActions" class="modal blue-grey darken-2">
  <div class="modal-content" *ngIf="playerService.openPlayer">
    <app-character-preview *ngIf="playerService.openPlayer.character" [character]="playerService.openPlayer.character"></app-character-preview>
    <app-character-inventory></app-character-inventory>
  </div>
  <div class="modal-footer blue-grey darken-3 white-text">
    <span class="character-info">
    </span>
    <a class="waves-effect waves-light btn" (click)="closeModal()">Close</a>
  </div>
</div>