.commands-container{
    h2{
        padding:0 15px;
    }
}

.byline{
    font-size: 12px;
}

.row{
    margin-bottom: 0px;
}
label{
    color: white;
}

[type="checkbox"].filled-in:not(:checked)+label:after {
    border: 2px solid #fff;
}

.trade-settings{
    padding-top: 10px;
}

.card .card-content {
    padding: 15px;
}