<div class="commands-container">
    <h2>Settings</h2>
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Debug information</span>
                    <p>Active Window: {{model?.activeWindow}}</p>
                    <p>Pressed keys:
                        <span *ngFor="let key of model?.activeKeys">
                            {{key}}
                        </span>
                    </p>
                </div>
                <div class="card-action">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text general-card">
                    <span class="card-title">General</span>
                    <form materialize action="#">
                        <p class="">
                            <input [checked]="tradeService.settings.autoSendTrade" (change)="SaveAutoSendTrade()" type="checkbox" class="filled-in" id="auto-send-trade"
                            />
                            <label for="auto-send-trade">Automatically send whispers from poe.trade.</label>
                        </p>
                    </form>
                </div>
                <div class="card-action">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text general-card">
                    <p class="card-title">Trade</p>
                    <form materialize action="#">
                        <p class="input-field">
                            <input placeholder="Thanks!" id="first_name" type="text" class="validate">
                            <label for="first_name">Sold Message</label>
                        </p>
                        <p class="input-field">
                            <input placeholder="Sorry that item is already sold!" id="first_name" type="text" class="validate">
                            <label for="first_name">Thanks Message</label>
                        </p>
                    </form>
                </div>
                <div class="card-action">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Always on top
                        <i class="material-icons right waves-effect waves-light hoverable" (click()="initializeWindowlist()">refresh</i>
                    </span>
                    <i class="byline">Forces the selected window to always be on top</i>
                    <div *ngIf="windowModel.topMostTitle === ''">
                        <select materialize="material_select" [materializeSelectOptions]="windowModel.list" [(ngModel)]="windowModel.topMostHandle"
                            id="window" name="window">
                            <option value="" disabled selected>Choose Window</option>
                            <option *ngFor="let window of windowModel.list" value="{{window.Handle}}">{{window.Title}}</option>
                        </select>
                    </div>
                    <p *ngIf="windowModel.topMostTitle !== ''"> Currently on top:
                        <b>{{windowModel.topMostTitle}}</b>
                    </p>
                </div>
                <div class="card-action">
                    <div class="row">
                        <a class="waves-effect waves-light btn red col s12" *ngIf="windowModel.topMostTitle !== ''" (click)="removeWindowTopMost()">Deactivate</a>
                        <a class="waves-effect waves-light btn col s12" *ngIf="windowModel.topMostTitle === ''" (click)="setWindowTopMost()">Activate</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s8">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <div class="row">
                        <span class="card-title">Register keybind </span>
                        <i class="byline">Keybinds can only be sent once every 1 second to avoid infinite loops since we are also reading keys.</i>
                    </div>
                    <div class="row">
                        <div class="col s3">
                            <div class="input-field">
                                <select materialize="material_select" [materializeSelectOptions]="model.Keys" [(ngModel)]="keyModel.key" id="key" name="key">
                                    <option value="" disabled selected>Choose key</option>
                                    <option *ngFor="let Keycode of keyModel.list" value="{{Keycode}}">{{Keycode}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s9">
                            <div class="input-field ">
                                <div class="input-field">
                                    <input [(ngModel)]="keyModel.command" id="commands" type="text" class="validate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn" (click)="createKeybind()">register</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Specific Keybinds
                        <!-- <i class="material-icons right waves-effect waves-light hoverable" (click()="initializeWindowlist()">refresh</i> -->
                    </span>
                    <i class="byline">Keybinds for specific actions.</i>
                    <h6>
                        <b>Logout</b>
                    </h6>
                    <div>
                        <select materialize="material_select" [materializeSelectOptions]="model.Keys" [(ngModel)]="keyModel.specificBinds.logout"
                            id="logoutKey" name="logoutKey">
                            <option value="" disabled selected>Choose key</option>
                            <option *ngFor="let Keycode of keyModel.list" value="{{Keycode}}">{{Keycode}}</option>
                        </select>
                    </div>
                    <h6>
                        <b>Invite first not already invited trade to party.</b>
                    </h6>
                    <div>
                        <select materialize="material_select" [materializeSelectOptions]="model.Keys" [(ngModel)]="keyModel.specificBinds.invite"
                            id="inviteKey" name="inviteKey">
                            <option value="" disabled selected>Choose key</option>
                            <option *ngFor="let Keycode of keyModel.list" value="{{Keycode}}">{{Keycode}}</option>
                        </select>
                    </div>
                    <h6>
                        <b>Whisper item sold to first not invited trade.</b>
                    </h6>
                    <div>
                        <select materialize="material_select" [materializeSelectOptions]="model.Keys" [(ngModel)]="keyModel.specificBinds.sold" id="soldKey"
                            name="soldKey">
                            <option value="" disabled selected>Choose key</option>
                            <option *ngFor="let Keycode of keyModel.list" value="{{Keycode}}">{{Keycode}}</option>
                        </select>
                    </div>
                </div>
                <div class="card-action">
                    <div class="row">
                        <a class="waves-effect waves-light btn col s12" (click)="saveSpecificBinds()">Save</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s8">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <div class="row">
                        <span class="card-title col s10">Registered keybinds</span>
                    </div>
                    <div *ngIf="keyModel.binds.length > 0">
                        <div class="row">
                            <div class="col s3">
                                <b>Key</b>
                            </div>
                            <div class="col s9">
                                <b>Command</b>
                            </div>
                        </div>
                        <div class="row" *ngFor="let bind of keyModel.binds">
                            <div class="col s3">
                                {{bind.key}}
                            </div>
                            <div class="col s8">
                                {{bind.command}}
                            </div>
                            <div class="col s1">
                                <i class="material-icons waves-effect waves-light hoverable" (click)="removeKeybind(bind)">delete</i>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="keyModel.binds.length === 0">
                        <div class="row">
                            <div class="col s12">
                                <i class="byline">No registered keybinds.</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>