<div class="map-block-wrapper row">
    <div class="map-block col s4" *ngFor="let act of model.acts">
        <h4>{{act.Name}}</h4>
        <hr class="map-title-divider">
        <div class="act-zones">
            <div class="zone-row row" *ngFor="let zone of act.zones">
                <a class="waves-effect waves-dark btn col s6 zone blue-grey white-text">{{zone.Name}}</a>
                <span class="col s6 zone-players">
                    <ng-container *ngFor="let player of channelService.channel.players">
                        <div [ngClass]="{'player-hidden': player.area != zone.Name}">
                            <span>{{player.character.name}}</span>
                            <br/>
                        </div>
                    </ng-container>
                </span>
            </div>
        </div>
    </div>
</div>