.map-block-wrapper {
    .map-block {
        .act-zones{
            margin-top: 20px;
            .zone-row{
                margin-bottom: 5px;
                a{
                    height: 27px;
                    line-height: 27px;
                    font-size: 0.8rem;
                    width: 45%;
                }
                span.zone{     
                   
                }
                span.zone-players{
                    // position: absolute;
                    // top:100%;
                    // left:0;
                    // width:100%;
                    span{
                        display: block;
                        float: left;
                    }
                    
                    .player-hidden {
                        display: none !important;
                    }
                }
            }
        }
    }
}