<div class="map-container">
    <h2>Map</h2>

    <div class="act-divider" *ngFor="let act of model.acts">
        <h4>{{act.Name}}</h4>
        <hr>
        <div class="act-zones">
            <span class="zone" *ngFor="let zone of act.zones" [ngClass]="{'active': false}" [attr.title]="zone.Name">{{zone.Short}}
                <span class="zone-players">
                    <span *ngFor="let player of zone.Players">{{player.Name}}</span>
                </span>
            </span>
        </div>
    </div>
</div>