.map-container{
    h2{
        padding:0 15px;
    }
    .act-divider{
        display: block;
        border-bottom:1px solid #333;
        padding: 15px;
        .act-zones{
            span.zone{
                display: inline-block;
                border-radius: 2px;
                background: #257d29;
                width: 250px;
                height: 50px;
                position: relative;
                font-size: 18px;
                font-weight: 700;
                padding: 12px 0;
                margin: 0 5px 75px 5px;
                text-align: center;
                opacity: 1;
                transition-duration: 0.3s;
                &.active{
                    background-color: rgb(17, 150, 0);
                }
                &:hover{
                    opacity: .75;
                    cursor: pointer;
                }
                span.zone-players{
                    position: absolute;
                    top:100%;
                    left:0;
                    width:100%;
                    span{
                        display: block;
                        
                    }
                    span.player-hidden {
                        display: none !important;
                    }
                }
            }
        }
    }
}