.row {
  margin: 0;
  height: 100%;
  .col {
    height: 100%;
  }
}

app-player-list {
  width: 325px !important;
}

app-character-preview {
  max-width: 356px;
  display: block;
}

.character-info {
  float: left;
}