.row {
  margin: 0;
  height: 100%;
  .col {
    height: 100%;
  }
}

.player-list {
  width: 325px !important;
}

.modal {
  overflow: visible;
  .modal-footer {
    padding: 16px 24px;
    height: auto;
  }
}

// .modal {
//   transition: transform 1s;
//   will-change: transform;
//   transform: scale(1) !important;
//   opacity: 1 !important;
// }

// .modal.open {
//   transition: transform 1s;
// }

// .modal.open:not([style*="display: none"]):not([style*="opacity: 0;"]) {
//   transform: scale(0);
// }
