<div class="center row">
  <div class="block-wrapper col s10">
    <div class="row">
      <div class="col s12">
        <h5 class="block-title">Player information</h5>
        <hr>
      </div>
    </div>
    <form #loginForm="ngForm" materialize class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input [(ngModel)]="this.settingService.settings.room.accountName" id="accountName" name="accountName" type="text" class="validate"
            (focusout)="loadCharacters()" required>
          <label for="accountName">Account name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">fingerprint</i>
          <input [(ngModel)]="this.settingService.settings.room.sessionId" id="sessionId" name="sessionId" type="text" class="validate">
          <label for="sessionId">Session Id</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">face</i>
          <select materialize="material_select" [materializeSelectOptions]="characters" [(ngModel)]="this.settingService.settings.room.characterName"
            id="characterName" name="characterName" required [disabled]="characters.length == 0 ? true : null">
            <option value="" disabled selected *ngIf="characters.length != 0">Select a character</option>
            <option value="" disabled selected *ngIf="characters.length == 0">Requires a valid account</option>
            <option *ngFor="let char of characters" value="{{char.name}}">({{char.level}}) {{char.name}}, {{char.class}}, {{char.league}}</option>
          </select>
          <label for="characterName">Character name</label>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col s12">
        <h5 class="block-title">
          Room information</h5>
        <hr>
      </div>
    </div>
    <form #roomForm="ngForm" materialize class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">text_format</i>
          <input [(ngModel)]="this.settingService.settings.room.roomCode" id="roomCode" name="roomCode" type="text" class="validate"
            required>
          <label for="roomCode">Code</label>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col s12">
        <button class="waves-effect waves-light btn right full-width" (click)="verify()" type="submit" name="action" [disabled]="!roomForm.valid || !loginForm.valid || characters.length == 0 || verified">
          <i class="material-icons right">send</i>
          Verify character
        </button>
      </div>
    </div>
    <div class="row">
        <div class="col s12">
          <div class="hr-text">
            <span>then</span>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col s12">
        <button class="waves-effect waves-light btn right full-width" (click)="enter()" type="submit" name="action" [disabled]="!roomForm.valid || !loginForm.valid || characters.length == 0 || !verified">
          <i class="material-icons right">send</i>
          Enter room
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="hr-text">
          <span>or</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="waves-effect waves-light btn right full-width" (click)="create()" type="submit" name="action" [disabled]="!loginForm.valid || characters.length == 0 || !verified">
          <i class="material-icons right">send</i>
          Create room
        </button>
      </div>
    </div>
  </div>
</div>