<div class="commands-container">
    <div class="row">
        <div class="col s12">
            <h2>Trades</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collection with-header">
                <li class="collection-header blue-grey">
                    <div class="row">
                        <div class="col s12">
                            <h4>Incoming</h4>
                        </div>
                    </div>
                </li>
                <li *ngFor="let trade of tradeService.tradeList" class="collection-item blue-grey">
                    <div class="row trade-row">
                        <div class="col s9">
                            <b> Item:</b>
                            <span>{{trade.item}}</span>
                            <b> Player:</b>
                            <span>{{trade.player}}</span>
                            <b> Price:</b>
                            <span>{{trade.price}}</span>
                            <b> Location:</b>
                            <span>{{trade.location}}</span>
                        </div>
                        <div class="col s3">
                            <a (click)="invite(trade)" class="waves-effect waves-light btn">
                                Invite</a>
                            <a (click)="sold(trade)" class="waves-effect waves-light btn">
                                Sold</a>
                            <a (click)="remove(trade)" class="waves-effect waves-light btn">
                                Remove</a>
                        </div>
                    </div>
                </li>
                <li *ngIf="tradeService.tradeList.length === 0" class="no-trades center-align">
                    No trades to display.

                </li>
            </ul>
        </div>
    </div>
</div>