
h4{
    margin: 0.14rem 0 -1.088rem 0;
}
.no-trades{
    margin-top: 10px;
}
.title{
    display: inline;
    margin-right: 10px;
}
img{
    height: 30px;
}
.card{
    margin: 5px 0;
}
.card .currency-card-content {
    padding: 5px 8px;
    border-radius: 0 0 2px 2px;
}
.currecy-label{
    font-size: 12px;
    margin-left: 5px;
}

.currency-row {
    overflow-y: scroll;
    height: 250px;
}

.trade-card {
    p { 
        text-transform:capitalize; 
    }
    .card-title { 
        text-transform:capitalize;
    }
}