.item-wrapper {
  min-width: 50px; // align-items: stretch;
  text-align: center;
  position: relative;
  // padding: 10px 0 10px 0 !important;
  background: #282930;
  border: 2px solid rgb(130, 127, 127);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  .item {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.unidentified {
  background: #4d0f0f;
}

.item-wide {
  min-width: 100px !important;
}

