<div class="item-wrapper" [ngStyle]="{'width.px': 50*columnsWide+10, 'min-height.px': 50*columnsHigh+10}" (mouseleave)="hideTooltip()">
  <div class="item" *ngIf="item">
    <div class="icon-wrapper">
      <img [attr.src]="item.icon" />
    </div>
    <app-item-sockets [columns]="item.w" [sockets]="item.sockets"></app-item-sockets>
  </div>
  <div class="item-popover" *ngIf="item">
    <h4 class="rarity-{{item.frameType}}">
      <ng-container *ngIf="item.name">{{item.name.substring(28)}}, </ng-container>
      {{item.typeLine}}</h4>
    <div class="mods">
      <span *ngFor="let mod of item.implicitMods">{{mod}}
        <br/>
      </span>
      <hr>
      <span *ngFor="let mod of item.explicitMods" class="{{getExplicitModClass(mod)}}">{{mod}}
        <br/>
      </span>
    </div>
  </div>
</div>