.item-wrapper {
  min-width: 50px; // align-items: stretch;
  text-align: center;
  position: relative;
  // padding: 10px 0 10px 0 !important;
  background: #27282f;
  border: 2px solid rgb(130, 127, 127);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  .item {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;

  }
}

.item-wide {
  min-width: 100px !important;
}

.item-popover {
  position: absolute;
  min-width: 280px;
  min-height: 50px;
  background: rgba(29, 38, 43, 0.9);
  border-radius: 1px;
  bottom: 10px;
  display: none;
  pointer-events: none;
  z-index: 9999;
  border-radius: 3px;
  font-size: 13px;
  border: 2px solid #827f7f;
}

.item-wrapper:hover .item-popover {
  display: block;
}

