<div class="item-popover-header">
  <h4 class="rarity-{{item.frameType}}">
    <ng-container *ngIf="item.inventoryId != 'Flask'">
      <div class="item-name" *ngIf="item.name">{{item.name.substring(28)}}
        <br/>
      </div>
      <span>{{item.typeLine}}</span>
    </ng-container>
    <ng-container *ngIf="item.inventoryId == 'Flask'">
      <ng-container [ngSwitch]="item.frameType">
        <ng-container *ngSwitchCase="3">
          <!-- unique item -->
          <div>{{item.name.substring(28)}}
            <br/>
          </div>
          <span>{{item.typeLine}}</span>
        </ng-container>
        <span *ngSwitchCase="1">{{item.typeLine.substring(28)}}</span>
        <!-- magic item -->
        <span *ngSwitchCase="0">{{item.typeLine}}</span>
        <!-- normal item -->
      </ng-container>
    </ng-container>
  </h4>
</div>
<div class="item-popover-body">

  <div class="properties">
    <!-- properties -->
    <ng-container *ngFor="let prop of item.properties">
      <ng-container *ngIf="item.inventoryId != 'Flask'">
        <span class="property">
          <span class="property-tag">
            {{prop.name}}
          </span>
          <ng-container *ngIf="prop.values[0] != undefined">
            :&nbsp;{{prop.values[0][0]}}</ng-container>
        </span>
        <br/>
      </ng-container>
      <ng-container *ngIf="item.inventoryId == 'Flask' && prop.values[0] != undefined">
        <span class="property">
          <span class="property-tag flask-property" *ngIf="prop.name != 'Quality'">
            {{formatFlaskProperties(prop.name, prop.values[0][0], prop.values[1])}}
          </span>
          <ng-container *ngIf="prop.name == 'Quality'">
            <span class="property-tag">
              {{prop.name}}
            </span>
            <ng-container *ngIf="prop.values[0] != undefined">
              :&nbsp;{{prop.values[0][0]}}</ng-container>
          </ng-container>
        </span>
        <br/>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let mod of item.utilityMods">
      <span class="enchant-mod">{{mod}}
        <br/>
      </span>
    </ng-container>
    <hr *ngIf="item.properties != undefined">
  </div>
  <div class="mods">
    <ng-container *ngFor="let mod of item.implicitMods">
      <span>{{mod}}
        <br/>
      </span>
    </ng-container>
    <ng-container *ngFor="let mod of item.enchantMods">
      <span class="enchant-mod">
        <span class="enchant-mod-tag">
          enchanted
        </span>
        &nbsp;{{mod}}
      </span>
      <br/>
    </ng-container>
    <hr *ngIf="(item.implicitMods != undefined || item.enchantMods != undefined) && item.explicitMods != undefined">
    <ng-container *ngFor="let mod of item.explicitMods">
      <span class="{{getExplicitModClass(mod)}}">{{mod}}
        <br/>
      </span>
    </ng-container>
    <ng-container *ngFor="let mod of item.craftedMods">
      <span class="crafted-mod">
        <span class="crafted-mod-tag">
          crafted
        </span>
        &nbsp;{{mod}}
      </span>
      <br/>
    </ng-container>
  </div>
  <span *ngIf="item.corrupted" class="corrupted">Corrupted</span>
</div>