<div class="weapon">
  <div class="item-lg-wrapper main-weapon">
    <app-item [item]="weapon" columnsWide="2" columnsHigh="4"></app-item>
  </div>
  <div class="item-lg-wrapper">
    <app-item [item]="helm" columnsWide="2" columnsHigh="2"></app-item>
  </div>
  <div class="item-lg-wrapper offhand">
    <app-item [item]="offhand" columnsWide="2" columnsHigh="4"></app-item>
  </div>
</div>
<div class="amulet-wrapper">
  <div class="item-sm-wrapper">
    <app-item [item]="amulet" columnsWide="1" columnsHigh="1"></app-item>
  </div>
</div>
<div class="armour">
  <div class="item-lg-wrapper">
    <app-item [item]="gloves" columnsWide="2" columnsHigh="2"></app-item>
  </div>
  <div class="item-lg-wrapper">
    <app-item [item]="bodyArmour" columnsWide="2" columnsHigh="4"></app-item>
  </div>
  <div class="item-lg-wrapper">
    <app-item [item]="boots" columnsWide="2" columnsHigh="2"></app-item>
  </div>
</div>
<div class="jewellry">
  <div class="item-sm-wrapper">
    <app-item [item]="ring" columnsWide="1" columnsHigh="1"></app-item>
  </div>
  <div class="item-sm-wrapper">
    <app-item [item]="belt" columnsWide="2" columnsHigh="1"></app-item>
  </div>
  <div class="item-sm-wrapper">
    <app-item [item]="ring2" columnsWide="1" columnsHigh="1"></app-item>
  </div>
</div>
