<div class="card blue-grey darken-3 character-preview-wrapper">
    <div class="card-content white-text">
        <span class="card-title">({{character.level}} {{character.class}}) {{character.name}}</span>
        <div class="weapon">
            <div class="item-lg-wrapper main-weapon">
                <app-item [item]="weapon"></app-item>
            </div>
            <div class="item-lg-wrapper">
                <app-item [item]="helm"></app-item>
            </div>
            <div class="item-lg-wrapper offhand">
                <app-item [item]="offhand"></app-item>
            </div>
        </div>
        <div class="amulet-wrapper">
            <div class="item-sm-wrapper">
                <app-item [item]="amulet"></app-item>
            </div>
        </div>
        <div class="armour">
            <div class="item-lg-wrapper">
                <app-item [item]="gloves"></app-item>
            </div>
            <div class="item-lg-wrapper">
                <app-item [item]="bodyArmour"></app-item>
            </div>
            <div class="item-lg-wrapper">
                <app-item [item]="boots"></app-item>
            </div>
        </div>
        <div class="jewellry">
            <div class="item-sm-wrapper">
                <app-item [item]="ring"></app-item>
            </div>
            <div class="item-sm-wrapper">
                <app-item [item]="belt"></app-item>
            </div>
            <div class="item-sm-wrapper">
                <app-item [item]="ring2"></app-item>
            </div>
        </div>
    </div>
</div>