.side-nav {
    .user-view{
        padding: 30px 30px 15px;
        margin-bottom: 0;
        height: 85px;
    }
    a, i{
        color: #eceff1;
        font-weight: normal;
    }
    .active {
        background-color: #303f46;
    }
}