<ul class="side-nav blue-grey darken-2 fixed">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="http://via.placeholder.com/300x85/1f292e/eceff1">
      </div>
    </div>
  </li>
  <li>
    <a class="subheader blue-grey darken-1">Rooms</a>
  </li>
  <li>
    <a href="#!" class="waves-effect" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">
      <i class="material-icons">forward</i>
      Enter room
    </a>
  </li>
  <li>
    <a href="#!" class="waves-effect" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/current-room">
      <i class="material-icons">supervisor_account</i>
      Current room
    </a>
  </li>
  <li>
    <div class="divider blue-grey darken-1"></div>
  </li>
  <li>
    <a class="subheader blue-grey darken-1">General</a>
  </li>
  <li>
    <a class="waves-effect" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/map">
      <i class="material-icons">map</i>
      Map
    </a>
  </li>
  <li>
    <a class="subheader blue-grey darken-1">Trade</a>
  </li>
  <li>
    <a href="#!" class="waves-effect" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/trade/browse">
      <i class="material-icons">filter_list</i>
      Browse using Poeapp.com
    </a>
  </li>
  <li>
    <a class="waves-effect" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/trade/management">
      <i class="material-icons">call_split</i>
      Management
    </a>
  </li>
  <li>
    <div class="divider blue-grey darken-1"></div>
  </li>
  <li>
    <a class="subheader blue-grey darken-1">Settings</a>
  </li>
  <li>
    <a class="waves-effect">
      <i class="material-icons">account_circle</i>
      Account details
    </a>
  </li>
  <li>
    <a class="waves-effect">
      <i class="material-icons">settings</i>
      Configuration
    </a>
  </li>
  <li>
    <a class="waves-effect" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/commands">
      <i class="material-icons">keyboard</i>
      Commands
    </a>
  </li>
</ul>