.character-main-inventory {
    border: 2px solid rgb(130, 127, 127);
    border-radius: 3px;
    .inventory-item-slot {
        // background: red;
        position:absolute;
        top: 0;
        left: 0;
    }
}
